* {
    box-sizing: border-box;
    /* border: solid #4e5372 10px; */
    border-color: rgb(231, 45, 76);
    margin: 10px;
    }
    body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    }
    .projects {
    color:purple;
    background-color: #f1ecec;
    border: solid #5B6DCD 10px;
    }
    #projects ul{
    color: brown;
    }
    header {
    background-color: #1e1c1e;
    color: #fff;
    padding: 5px;
    position:sticky;
    top:0;
    }
    nav ul {
    list-style-type:circle;
    margin: 0;
    padding: 0;
    font-size: 25px;
    }
    nav ul li {
    display: inline-block;
    margin-right: 5px;
    }
    nav ul li a {
    color: #e6dede;
    text-decoration:solid;
    }
    section {
    padding: 50px;
    }
    section h2 {
    margin-bottom: 10px;
    }
    .projects {
    margin-bottom: 15px;
    }
    footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    }
    form label,
    form input,
    form textarea,
    form button {
    display: block;
    margin-bottom: 15px;
    }
    .lg ul{
    font-size: 30px;
    }
    .project h3 {
    color: #e42727;
    font-size: 30px;
    }
    .project p{
    color:black;
    text-decoration: double;
    font-size: 25px;
    }
    #about{
    border: solid #eb8c2d 10px;
    }
    #contact{
    border: solid #eb8c2d 10px;
    }
    .contact{
    display:grid;
    justify-content:center ;
    align-items: center;
    gap: 1rem;
    background:white;
    font-size: 50px;
    }
    .contact h2{
    font-size: 45px;
    }
    .heading{
    float: center;
    color:#800080;
    text-align: center;
    font-size: 3rem;
    }
    #contact h2{
    color: purple;
    }
    .image-container {
    float: right;
    width:25%;
    border:solid black 2px;
    margin-bottom:90px;
    margin-right:30px;
    }
    .about{
    display:flex;
    justify-content:center ;
    align-items: center;
    gap: 1rem;
    background:white;
    }
    span{
    color:#eb8c2d;
    }
    .imagecontainer img{
    width:30vw;
    }
    .about p{
    font-size: 2rem;
    margin: 4rem 0 3rem;
    }
    .projects{
    display:block;
    justify-content:right ;
    align-items: center;
    gap: 1rem;
    background:#e6dede;
    }
    .lg img{
    float:right;
    width:30vw;
    height:15vw;
    }
    .contact form .inputbox input,
    .contact form textarea{
    width: 100%;
    padding:2rem ;
    font-size: 2.1rem;
    color:var(--text-color);
    background:var(--second-bg-color);
    border-radius: .8rem;
    margin:.7rem,0;
    }
    .inputbox{
    width:49%;
    }
    form button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 20px 30px;
    border:0cqmax;
    cursor:pointer;
    font-size: 30px;
    margin-bottom: 4rem;
    }
    nav ul li a:hover {
    text-decoration: underline;
    transition:.5s white;
    }
    